<div>
  <div class="card shadow-sm rounded">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-list"></i> Collections <span *ngIf="collections">({{ collections.length }})</span>
      </h5>

      <div class="form-group">
        <input type="search" class="form-control" autofocus (input)="onInputFiler($event.target.value)" [value]="filter"/>
      </div>

      <app-loading [loading]="!collections" align="center">
        <ng-template>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th class="sortable" (click)="sort('name')">Name</th>
                <th class="sortable" (click)="sort('stats.count')">Count</th>
                <th class="sortable" (click)="sort('stats.size')">Size</th>
                <th class="sortable" (click)="sort('stats.storageSize')">Storage Size</th>
                <th class="sortable" (click)="sort('stats.avgObjSize')">Average Size</th>
                <th class="sortable" (click)="sort('stats.nindexes')">Nb Indexes</th>
                <th class="sortable" (click)="sort('stats.totalIndexSize')">Total Index Size</th>
                <th class="sortable" (click)="sort('stats.capped')">Capped</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let collection of displayedCollections">
                <td>{{ collection.name }}</td>
                <td>{{ collection.stats.count | number }}</td>
                <td>{{ collection.stats.size | size }}</td>
                <td>{{ collection.stats.storageSize | size }}</td>
                <td>{{ collection.stats.avgObjSize | size }}</td>
                <td>{{ collection.stats.nindexes }}</td>
                <td>{{ collection.stats.totalIndexSize | size }}</td>
                <td class="text-center"><span *ngIf="collection.stats.capped">✔️</span></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </app-loading>
    </div>
  </div>
</div>
