<div>
  <div class="section">
    <h5 class="section-title">General</h5>
    <app-loading [loading]="!database" align="center">
      <ng-template>
        <table class="table table-bordered table-striped table-dark">
          <tbody>
          <tr>
            <td>Name</td>
            <td><strong>{{ database.name }}</strong></td>
          </tr>
          <tr>
            <td>Size on disk</td>
            <td>{{ database.sizeOnDisk | size }}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </app-loading>
  </div>

  <div class="section">
    <h5 class="section-title">Collections <span *ngIf="collections">({{ collections.length }})</span></h5>

    <div class="form-group">
      <input type="search" class="form-control" (input)="onInputFiler($event.target.value)" [value]="filter"/>
    </div>

    <app-loading [loading]="!collections" align="center">
      <ng-template>
        <table class="table table-bordered table-sm table-striped table-dark">
          <thead>
            <tr>
              <th class="sortable" (click)="sort('name')">Name</th>
              <th class="sortable" (click)="sort('stats.count')">Count</th>
              <th class="sortable" (click)="sort('stats.size')">Size</th>
              <th class="sortable" (click)="sort('stats.storageSize')">Storage Size</th>
              <th class="sortable" (click)="sort('stats.avgObjSize')">Average Size</th>
              <th class="sortable" (click)="sort('stats.nindexes')">Nb Indexes</th>
              <th class="sortable" (click)="sort('stats.totalIndexSize')">Total Index Size</th>
              <th class="sortable" (click)="sort('stats.capped')">Capped</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let collection of displayedCollections">
              <td>{{ collection.name }}</td>
              <td>{{ collection.stats.count | number }}</td>
              <td>{{ collection.stats.size | size }}</td>
              <td>{{ collection.stats.storageSize | size }}</td>
              <td>{{ collection.stats.avgObjSize | size }}</td>
              <td>{{ collection.stats.nindexes }}</td>
              <td>{{ collection.stats.totalIndexSize | size }}</td>
              <td class="text-center"><span *ngIf="collection.stats.capped">✔️</span></td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </app-loading>
  </div>
</div>
