<div class="card shadow rounded">
  <div class="card-body">
    <h5 class="card-title card-title-bordered">
      <i class="fa fa-clipboard"></i> Logs
    </h5>

    <div class="view-actions-top">
      <button type="button" class="btn btn-primary btn-sm" (click)="sync()">
        <i class="fa fa-refresh"></i> Refresh
      </button>
    </div>

    <app-loading [loading]="!logs">
      <ng-template>
        <ngb-tabset (tabChange)="onTabChange($event.nextId)" [activeId]="activeId">
          <ngb-tab *ngFor="let log of logs" [title]="log.host" [id]="log.host">
            <ng-template ngbTabContent>
              <div class="text-monospace text-nowrap text-sm-left overflow-auto">
                <div *ngFor="let line of log.logs">{{ line }}</div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </app-loading>
  </div>
</div>
