<div>
  <app-loading [loading]="!indexes">
    <ng-template>
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" (click)="sort('name')">Name</th>
            <th>Definition</th>
            <th class="sortable" (click)="sort('accesses.ops')"># Use</th>
            <th class="sortable" (click)="sort('accesses.since')"># Use Since</th>
          </tr>
        </thead>
        <tbody>
          <tr [class]="'alert-' + getAlertLevel(index)" *ngFor="let index of indexes">
            <td>{{ index.name }}</td>
            <td>{{ index.key | json }}</td>
            <td>{{ index.accesses.ops }}</td>
            <td>{{ index.accesses.since | date }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </app-loading>
</div>
