<div>
  <app-loading [loading]="!indexes">
    <ng-template>
      <table class="table table-sm">
        <thead>
          <tr class="d-flex">
            <th class="sortable col-4" (click)="sort('name')">Name</th>
            <th class="col-5">Definition</th>
            <th class="sortable col-1" (click)="sort('accesses.ops')"># Use</th>
            <th class="sortable col-2" (click)="sort('accesses.since')"># Use Since</th>
          </tr>
        </thead>
        <tbody>
          <tr [class]="'alert-' + getAlertLevel(index) + ' d-flex'" *ngFor="let index of indexes">
            <td class="col-4 text-break text-monospace" title="{{ index.name }}">{{ index.name }}</td>
            <td class="col-5 text-break text-monospace" title="{{ index.key | json }}">{{ index.key | json }}</td>
            <td class="col-1">{{ index.accesses.ops }}</td>
            <td class="col-2">{{ index.accesses.since | date }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </app-loading>
</div>
