<div>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col pl-0">
          <app-dashboard-server [server]="server"></app-dashboard-server>
        </div>

        <div class="col pr-0">
          <app-dashboard-connections [connections]="server?.connections"></app-dashboard-connections>
        </div>
      </div>

      <div class="row">
        <div class="col pr-0 pl-0">
          <app-dashboard-cluster></app-dashboard-cluster>
        </div>
      </div>

      <div class="row">
        <div class="col pr-0 pl-0">
          <app-dashboard-databases [databases]="server?.databases"></app-dashboard-databases>
        </div>
      </div>
    </div>
  </div>
</div>
