<div class="container-fluid">
  <ngb-tabset [activeId]="selectedTab" (tabChange)="onTabChange($event.nextId)">
    <ngb-tab id="connections">
      <ng-template ngbTabTitle>
        <i class="fa fa-spinner"></i> Operations
      </ng-template>
      <ng-template ngbTabContent>
        <app-server-operations></app-server-operations>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="logs">
      <ng-template ngbTabTitle>
        <i class="fa fa-clipboard"></i> Logs
      </ng-template>
      <ng-template ngbTabContent>
        <app-server-log></app-server-log>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="parameters">
      <ng-template ngbTabTitle>
        <i class="fa fa-outdent"></i> Parameters
      </ng-template>
      <ng-template ngbTabContent>
        <app-server-parameters></app-server-parameters>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="replication">
      <ng-template ngbTabTitle>
        <i class="fa fa-copy"></i> Replication
      </ng-template>
      <ng-template ngbTabContent>
        <app-server-replication></app-server-replication>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
