<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab id="connections">
      <ng-template ngbTabTitle>
        <i class="fa fa-chart-line"></i> Connections
      </ng-template>
      <ng-template ngbTabContent>
        TODO
      </ng-template>
    </ngb-tab>
    <ngb-tab id="logs">
      <ng-template ngbTabTitle>
        <i class="fa fa-clipboard-list"></i> Logs
      </ng-template>
      <ng-template ngbTabContent>
        <app-server-log></app-server-log>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="parameters">
      <ng-template ngbTabTitle>
        <i class="fa fa-tools"></i> Parameters
      </ng-template>
      <ng-template ngbTabContent>
        <app-server-parameters></app-server-parameters>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="replica">
      <ng-template ngbTabTitle>
        <i class="fa fa-hourglass-half"></i> Replica Set
      </ng-template>
      <ng-template ngbTabContent>
        TODO
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
