<div class="row">
  <div class="col-3">
    <div class="form-group">
      <input type="text" class="form-control" [value]="filter" (input)="onInputFilter($event.target.value)"/>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" (click)="selectCollection(collection)" [ngClass]="{active: selectedCollection === collection}" *ngFor="let collection of filteredCollections">{{ collection.name }}</li>
    </ul>
  </div>
  <div class="col">
    <div *ngIf="selectedCollection">
      <app-database-collection [collection]="selectedCollection"></app-database-collection>
    </div>
  </div>
</div>
