<div>
  <div class="card shadow-sm rounded">
    <div class="card-body">
      <div class="alert alert-info alert-profiling-status">
        <app-loading [loading]="!profilingStatus">
          <ng-template>
            <span *ngIf="profilingStatus.level === 0">Database profiler is currently disabled</span>
            <span *ngIf="profilingStatus.level === 1">Queries slower than <strong>{{ profilingStatus.slowMs }}ms</strong>  are currently collected</span>
            <span *ngIf="profilingStatus.level === 2">All queries are currently collected</span>
            <i class="fa fa-pencil" (click)="openProfilingStatusModal()"></i>
          </ng-template>
        </app-loading>
      </div>

      <app-loading [loading]="!queries" align="center">
        <ng-template>
          <div class="table-actions table-actions-top">
            <app-pagination [pagination]="queries" (selectPage)="goTo($event)"></app-pagination>
            <div>
              <button type="button" class="btn btn-primary btn-sm" (click)="sync()">
                <i class="fa fa-refresh"></i> Refresh
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="reset()" [disabled]="!queries.total">
                <i class="fa fa-trash"></i> Reset
              </button>
            </div>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th class="sortable" (click)="sort('op')">Operation</th>
                <th class="sortable" (click)="sort('ns')">NS</th>
                <th class="sortable" (click)="sort('docsExamined')">Docs Examined</th>
                <th class="sortable" (click)="sort('keysExamined')">Keys Examined</th>
                <th class="sortable" (click)="sort('nreturned')">Returned</th>
                <th class="sortable" (click)="sort('millis')">Millis</th>
                <th class="sortable" (click)="sort('hasSortStage')">Sort</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-query let-i="index" [ngForOf]="queries.results">
                <tr [class]="'table-' + getLevel(query)">
                  <td>{{ query.op }}</td>
                  <td>{{ query.ns }}</td>
                  <td>{{ query.docsExamined }}</td>
                  <td>{{ query.keysExamined }}</td>
                  <td>{{ query.nreturned }}</td>
                  <td>{{ query.millis }}</td>
                  <td><span *ngIf="query.hasSortStage">✔</span></td>
                  <td><button type="button" class="btn" (click)="showSlowQuery(i)"><i class="fa fa-eye"></i></button></td>
                </tr>
              </ng-template>
            </tbody>
          </table>

          <div class="table-actions table-actions-bottom">
            <app-pagination [pagination]="queries" (selectPage)="goTo($event)"></app-pagination>
            <button type="button" class="btn btn-danger btn-sm" (click)="reset()" [disabled]="!queries.total"><i class="fa fa-trash"></i> Reset</button>
          </div>
        </ng-template>
      </app-loading>
    </div>
  </div>
</div>
